<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <p class="home-logo lead">
          <img src="http://www.clipartbest.com/cliparts/eiM/dgG/eiMdgGodT.png">
          <h1>Place holder Logo for mentorSHIP</h1>
        </p>
          <%= link_to "Login with GitHub", "auth/github", class: "btn btn-lg btn-default" %>
        </p>
      </div>
    </div>

    <div class="jumbotron">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            Browse Turing Mentors
          </h1>
          <p class="col-lg-4 col-lg-offset-4">Learn about all of the mentors at Turing in one convient place. Who they are, their expertise, and their backgrounds</p>
        </div>
      </div>

      <div class="container marketing">
        <div class="row">
          <% if @mentor %>
          <% @mentors.each do |m| %>
          <div class="col-lg-4">
            <%= image_tag m.photo.url(:thumb), class: "img-circle" %>
            <h2><%= link_to m.name, mentor_path(m) %></h2>
            <p>
              <% m.skills.each do |skill| %>
              <%= skill.name %> &nbsp
              <% end %>
            </p>
          </div><!-- /.col-lg-4 -->
          <% end %>
          <% end %>
        </div><!-- /.row -->
      </div>
    </div>

    <div class="jumbotron">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Build a Student Profile
          </h1>
          <p class="col-lg-4 col-lg-offset-4">Your profile allows you to easily share information about your current learning at Turing. Take the guess work out of what to ask for help on, make it easier to say hello and get started!</p>
        </div>
      </div>

      <div class="container marketing">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <% if @student %>
            <%= image_tag @student.avatar.url(:thumb), class: "img-circle" %>
            <h2><%= link_to @student.name, student_path(@student) %></h2>
            <p>
              Cohort: <%= @student.cohort %>&nbsp
              <%= @student.mod.name %>
            </p>
            <% end %>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>
    </div>

    <div class="jumbotron">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            Request Appointments and Pair
          </h1>
          <p class="col-lg-4 col-lg-offset-4">Once you choose a mentor, its easy to set up an appointment. Just complete the online form and mentorSHIP will do the rest!</p>
        </div>
      </div>

      <div class="container marketing">
        <div class="row">
          <div class="col-lg-4">
            <img src="https://pbs.twimg.com/media/B1z8XoCIUAAf5Yn.jpg" class="img-circle", style="width: 300px; height: 300px;">
          </div><!-- /.col-lg-4 -->
          <div>
            <p>Get Started Now!</p>
            <p><%= link_to "Login with GitHub", "auth/github", class: "btn btn-lg btn-default" %></p>
        </div><!-- /.row -->
      </div>
    </div>
  </div>
</div>
</div>
