<h2><center>A Bit About You:</center></h2>
<%= form_for(@student, html: { :class => "form-horizontal"}) do |f| %>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%= f.text_area :bio, class: "form-control", placeholder: "A bit about you . . . " %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%= f.text_field :cohort, class: "form-control", placeholder: "Cohort: 1406, 1502, etc." %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <div class="radio-inline">
        <label>
          <input type="radio" value="1">Module One &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <input type="radio" value="2">Module Two &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <input type="radio" value="3">Module Three &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <input type="radio" value="4">Module Four &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <input type="radio" value="5">Graduated &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">=
    <div class="col-md-6 col-md-offset-3">
      <%= f.select(:posse_id, options_from_collection_for_select(Posse.all, "id", "name"), {})%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%= f.label :photo, class: "control-label" %>
      <%= f.file_field :avatar, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%= f.submit "Save Profile", class: "btn btn-large btn-info" %>
    </div>
  </div>
<% end %>
