<h2><%= @student.name %></h2>
<% if current_user.id == @student.id %>
  <%= link_to "Edit your profile", edit_student_path(@student), class: "btn btn-small btn-primary" %>
<% end %>
<div class="container">
  <div class="student-row">
    <div class="col-md-4 col-md-offset-1 blog-sidebar">
      <div class="sidebar-module">
        <%= image_tag @student.avatar.url(:medium), class: "img-circle" %>
        <br/><br/>
        <b>Cohort:</b> <%= @student.cohort %><br/>
        <b>Module:</b> <%= @student.mod.name %><br/>
        <b>Posse:</b> <%= @student.posse.name %>
      </div>
    </div>
    <div class="col-md-7">
      <p>
        <%= @student.bio %>
      </p>
      <p>
        <h3>Module Rundown:</h3> <%= @student.mod.name %>: <%= @student.mod.description %>
      </p>
      <p>
        <h3>Projects in this Module:</h3>
        <% @projects.each do |p| %>
          <b><%= p.name %></b>
          <p>Description: <%= p.description %></p>
          <p>Link to Project Spec: <%= link_to "#{p.url}", p.url  %></p>
        <% end %>
      </p>
    </div>
  </div>
</div>
