<header class="mod-header">
  <div class="layout-wrap">
    <h1>
      <a href="http://turing.io">Turing School of Software and Design</a>
    </h1>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Mentors", mentors_path %></li>
        <li><%= link_to "Students", students_path %></li>
        <% if current_user && current_user.mentor %>
          <li><%= link_to "Profile", mentor_path(current_user.mentor)  %></li>
          <li><%= link_to "Sign Out", sign_out_path %></li>
        <% elsif current_user %>
          <li><%= link_to "Profile", student_path(current_user.student) %></li>
          <li><%= link_to "Sign Out", sign_out_path %></li>
        <% else %>
          <li><%= link_to "Sign In", '/auth/github/' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
