  <div class="container marketing">
    <h2>Filter Mentors by Skills</h2>
    <div class="btn-toolbar" role="toolbar" aria-label="...">
      <div class="btn-group" role="group" aria-label="...">
        <% @skills.each do |s| %>
          <%= link_to s.name, mentors_path(filter: s.name), class: "btn btn-primary" %>
        <% end %>
      </div
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to "All Mentors", mentors_path, class: "btn btn-primary" %>
      </div>
      <br/>
      <br/>
      <br/>
    </div>

    <div class="row">
      <% cache @mentors do %>
        <% @mentors.each do |m| %>
          <div class="col-lg-4">
            <%= image_tag m.photo.url(:thumb), class: "img-circle" %>
            <h2><%= link_to m.name, mentor_path(m) %></h2>
            <p>
              <%= render partial: 'skills/skill', collection: @mentors, as: :m %>
            </p>
          </div><!-- /.col-lg-4 -->
        <% end %>
      <% end %>
    </div><!-- /.row -->
  </div>

 <!-- Bootstrap core JavaScript =========================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="../../assets/js/docs.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
