<div class="large-4 small-12 columns">
  <img src="http://placehold.it/500x500&amp;text=Logo">

  <div class="hide-for-small panel">
    <h3>Turing Mentors</h3>
    <h5 class="subheader">Click on a mentor photo to see more info, click on their name to go to their page.
    </h5>
  </div>
</div> 
 
<div class="large-8 columns">
  <% @mentors.each do |mentor| %>
  <div class="row">
    <div class="large-4 small-6 columns">
      <a href="#" data-reveal-id="mentorModal">
        <%= image_tag mentor.photo %>
      </a>
      <div class="panel">
        <h5><%= link_to mentor.name, mentor_path(mentor) %></h5>

  <div id="mentorModal" class="reveal-modal" data-reveal>
    <h2><%= link_to mentor.name, mentor_path(mentor) %></h2>
    <p class="lead"><%= mentor.skills %></p>
    <p><%= mentor.bio %></p>
    <a class="close-reveal-modal">&#215;</a>
  </div>

        <h6 class="subheader"><%= mentor.skills %></h6>
      </div>
    </div>
  <% end %>
  </div> 
 
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <div class="row">
          <div class="large-2 small-6 columns"><img src="http://placehold.it/300x300&amp;text=Site%20Owner"></div>
            <div class="large-10 small-6 columns">
              <strong>This Site Is Managed By</strong>
              <hr>
              Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum
              odio ornare sagittis
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div> 
<script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
<script src="../../assets/js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
  </script>
<script src="../assets/js/templates/jquery.js"></script>
<script src="../assets/js/templates/foundation.js"></script>
<script>
  $(document).foundation();

  var doc = document.documentElement;
  doc.setAttribute('data-useragent', navigator.userAgent);
</script>