<div class="container">
  <br/>
  <div class="mentor-row">
    <div class="col-md-5 col-md-offset-1 blog-sidebar">
      <div class="sidebar-module">
        <%= image_tag @mentor.photo, class: "img-circle", style: "width: 200px; height: 200px; border-width: 2px; border-color: black;" %>
        <h4>Email: <%= @mentor.email %></h4>
        <h4>Employer: <%= @mentor.company %></h4>
        <h4>Best at: <% @mentor.skills.each do |skill| %>
          <i><%= skill.name  %></i>&nbsp
          <% end %></p></h4>
          <p><a class="btn btn-sm btn-info" href="#" role="button">Request appointment</a></p>
      </div>
    </div>
    <div class="col-md-5">
      <h2><%= @mentor.name %></h2>
      <p><%= @mentor.bio %></p>
    </div>
  </div>
</div>