<h2><%= @mentor.name %></h2>
<div class="container">
  <div class="mentor-row">
    <div class="col-md-4 col-md-offset-1 blog-sidebar">
      <div class="sidebar-module">
        <%= image_tag @mentor.photo.url(:medium), class: "img-circle" %>
        <br/><br/>
        <b>Email:</b> <%= @mentor.email %><br/>
        <b>Employer:</b> <%= @mentor.company %><br/>
        <b>Best at:</b>
        <% @mentor.skills.each do |skill| %>
          <ul>
            <li><%= skill.name %></li>
          </ul>
          <% end %>
      </div>
    </div>
    <div class="col-md-5">
      <p>
        <%= @mentor.bio %>
      </p>
    </div><br/>
  </div>
    <div class="col-md-4">
      <p>
        <% if @contact_preferences.include?("email") %>
          <%= link_to "Reach out to #{@mentor.name} by Email", "#emailModal", "data-toggle" => "modal", class: "btn btn-small btn-default" %>
        <% end %>
      </p>
      <p>
        <% if @contact_preferences.include? "email" %>
          <%= link_to "Reach out to #{@mentor.name} by SMS", "#smsModal", "data-toggle" => "modal", class: "btn btn-small btn-default" %>
        <% end %>
      </p>
  </div>
</div>
<% if current_user.profile_type == "student" %>
  <%= render "modals/email_appointment_modal" %>
  <%= render "modals/sms_appointment_modal" %>
<% end %>
