<div class="container">
  <div class="jumbotron">
    <h1><%= @mentor.name %></h1>
    <p class="lead"><%= image_tag @mentor.photo, class: "img-circle", style: "width: 300px; height: 300px; border-width: 2px; border-color: black;" %></p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Request appointment</a></p>
  </div>

  <div>
    <div class="panel panel-default">
      <div class="panel-body">
        <p><b>Email:</b> <%= @mentor.email %></p>
        <p><b>Employer:</b> <%= @mentor.company %></p>
        <p><b>Best at:</b> mentor skills</p>
        <p><b>About:</b> <%= @mentor.bio %></p>
      </div>
    </div>
  </div>
</div>
